Assets/Resources/map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Parallel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Tile">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="City" type="xs:string" />
                          <xs:element name="Nature">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="index" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="index" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>